.bg-info {
    background-color: #32746D !important; /* Light green for secondary backgrounds */
}

body{
    background-color: #104f55;
}




.backg {

    grid-column: 3/9;
    grid-row: 3/9;

}


.jumbotron {
    color:black;
    grid-column: 1/7;
    grid-row: 3/7;
    margin-top: 2%;
    margin-left: 30px;
}

.text {
    opacity: 100%;
}

.button1{
    width: 100px;
   
}

.button1s{
    grid-column: 1/5;
    grid-row: 11/13;
    margin-left: 30px;
    margin-top: 10px;
    
}

.buttonG{
    grid-column: 2/6;
    grid-row: 11/13;
    margin-left: 30px;
    margin-top: 10px;
}



.button2{
    grid-column: 2/7;
    grid-row: 9/10;
    width: 100px;
    transition: 0.5s ease-in-out;
    
}

.welcomeG {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(60, 10%);
    
}



.nav-link{
    color: black;
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
}



.navbar-light .navbar-brand, .navbar-light .navbar-nav {
    color: #104f55; /* Dark green for brand name & nav links for visibility */
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
}


#backphoto{
    background: url('/images/vanbanner.jpg') center center;
    background-size: cover;
    grid-column: 1/11;
    grid-row: 1/21;
}







.navbar-toggler {
    width:2%;
    height:2%;
    position: relative;
    transition: .5s ease-in-out;
}

.toggler-icon {
    display:block;
    position: absolute;
    height:3px;
    width:100%;
    background-color: black;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
    outline:none;
    box-shadow: none;
    border:0;
}

.collapsed .top-bar {
    margin-top: -20px;
    transform: rotate(0deg);
}
.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.collapsed .bottom-bar {
    margin-top: 20px;
    transform: rotate(0deg);
}


.top-bar {
    margin-top: 0px;
    transform: rotate(135deg);
}


.middle-bar {
    margin-top: 0px;
}

.middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.bottom-bar {
    margin-top:0px;
    transform: rotate(-135deg);
}





#topTag{
    grid-row: 22;
    grid-column: 2/10;
    color: black;
}

#maptxt{
    grid-column: 3/5;
    grid-row: 23/25;
    text-align: center;
    color: black;
}
.Map{
    background: url('/images/eu_van_1.jpg') center center;
    background-size: cover;
    grid-column: 2/6;
    grid-row: 25/37;
    margin-left: 5%;
    transition: 0.5s ease-in-out;
}

.News{
    background: url('/images/news.jpg') center center;
    background-size: cover;
    grid-column: 6/10;
    grid-row: 25/37;
    margin-right: 5%;
    margin-left: 5%;
    transition: 0.5s ease-in-out;
}

.Newstxt{
    grid-column: 7/9;
    grid-row: 23/25;
    text-align: center;
    color: black;
}

#bottomhr{
    grid-column: 2/10;
    grid-row: 40;
    color: black;
}

.News:hover{
    transform: scale(0.95);
}

.Map:hover{
    transform: scale(0.95);
}