.buttoncontainer {
    display: grid;
    grid-template-columns: repeat(5, 20%);
}

.btn-primary {
    grid-column: 3/4;
    background-color: #32746D;
    color: black;
}

.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link {
    color: white; 
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
}

.bg-info {
    background-color: #32746D !important; /* Light green for secondary backgrounds */
}

.navbar-toggler {
    width:2%;
    height:2%;
    position: relative;
    transition: .5s ease-in-out;
}

.toggler-icon {
    display:block;
    position: absolute;
    height:3px;
    width:100%;
    background-color: black;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
    outline:none;
    box-shadow: none;
    border:0;
}

.collapsed .top-bar {
    margin-top: -20px;
    transform: rotate(0deg);
}
.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.collapsed .bottom-bar {
    margin-top: 20px;
    transform: rotate(0deg);
}


.top-bar {
    margin-top: 0px;
    transform: rotate(135deg);
}


.middle-bar {
    margin-top: 0px;
}

.middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.bottom-bar {
    margin-top:0px;
    transform: rotate(-135deg);
}


.btn {
    background-color: #32746D;
    color: white;
    border: 2px solid #104f55;
    border-radius: 5px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 90px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px;
    position: relative;
    top: -20px;
}

.btn:hover, .btn:focus {
    color: #ffffff;
    background-color: #58918b;
    border-color: rgba(255, 255, 255, 0.292);
    text-decoration: none;
}

.btn-group .btn {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 90px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn {
    margin: 0 10px 5px;
}

.navbar {
    padding: 0%;
  }

  .navbar .container {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: 80% 20%;
    padding: 5px;
    height: 100%;
    padding-bottom: 18px;
    
    
}
.navbar .container > * {
    align-items: center;
    text-align: center;
    color: white;
    font-weight: 400;
    margin: 0 10px;
    background-color:#58918b;
    
}
.material-icons {
    font-size: 30px;
    border-radius: 24px 24px 0 0;
}
.maplabel {
    grid-row: 2;
    grid-column: 1;
    border-radius: 0 0 24px 24px;
}
.newslabel {
    grid-row: 2;
    grid-column: 2;
    border-radius: 0 0 24px 24px;

}
.socialslabel {
    grid-row: 2;
    grid-column: 3;
    border-radius: 0 0 24px 24px;
}