#map-button, #news-button, #social-button {
    cursor: pointer;
}

#map {
    height: 922px;
    grid-row: 1/ span 10;
    grid-column: 1/ span 20;
}

.mapcontainer {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(10, 10%);
    grid-template-columns: repeat(20, 5%);
    position: relative;

}

.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link {
    color: white; /* Dark green for brand name & nav links for visibility */
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
}

.bg-info {
    background-color: #32746D !important; /* Light green for secondary backgrounds */
}


.navbar-toggler {
    width:2%;
    height:2%;
    position: relative;
    transition: .5s ease-in-out;
}

.toggler-icon {
    display:block;
    position: absolute;
    height:3px;
    width:100%;
    background-color: black;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
    outline:none;
    box-shadow: none;
    border:0;
}

.collapsed .top-bar {
    margin-top: -20px;
    transform: rotate(0deg);
}
.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.collapsed .bottom-bar {
    margin-top: 20px;
    transform: rotate(0deg);
}


.top-bar {
    margin-top: 0px;
    transform: rotate(135deg);
}


.middle-bar {
    margin-top: 0px;
}

.middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.bottom-bar {
    margin-top:0px;
    transform: rotate(-135deg);
}

.sosbutton {
    
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: 2px solid white;
    color: white;
    overflow: hidden;
    border-radius: 6px;
    max-width: 40px;
    min-width: 40px;
    max-height: 40px;
    position: absolute;
    top: 60px; /* Adjust as needed for vertical position */
    right: 10px; /* Adjust as needed for horizontal position */
    z-index: 1000; /* Ensure the button stays on top of the map */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sosbutton img {
    margin-top: 5px;
    width: 150%;
    height: 160%;
    z-index: 101;
    max-width: 60px;
}

.centerbutton {
    cursor: pointer;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: 2px solid white;
    color: white;
    overflow: hidden;
    border-radius: 6px;
    max-width: 40px;
    min-width: 40px;
    max-height: 40px;
    position: absolute;
    bottom: 32px; 
    left: 12px; 
    z-index: 1000; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}
.centerbutton img {
    width: 100%;
    height: 100%;
    z-index: 101;
    padding: 2px;
}


#legend{
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 100%;
    background-color: #32746D;
    border: none;
    
}
    




  .desc{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 15px;
    background: #104f55;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
    font-size: 15px;
    padding: 5px;
    border: 2px solid #104f55;
    transition: border .4s ease;
    cursor: pointer;
    margin: 10px 5px;
  }

  .desc:hover {
    border: 2px solid white;
  }
  .desc.clicked {
    background-color: #37949c;
  }

  .desc1 {
    grid-column: 1;
  }
  b {
    text-align: center;
  }
  .desc2 {
    grid-column: 2;
  }
  .desc3 {
    grid-column: 3;
  }
  .desc4 {
    grid-column: 4;
  }
  .desc5 {
    grid-column: 5;
  }


  
.btn {
    background-color: #ffffff; 
    color: #007bff; 
    border: 2px solid #007bff; 
    border-radius: 5px; 
    padding: 10px 20px; 
    text-align: center; 
    font-size: 16px; 
    cursor: pointer; 
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out; 
}


.btn:hover, .btn:focus {
    color: #ffffff; 
    background-color: #007bff; 
    border-color: #0056b3; 
    text-decoration: none; 
}


.btn-group .btn {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}


.btn {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-width: 90px; 
    text-align: center;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.btn {
    margin: 0 10px 5px; 
}

.overlay {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 40%;
    height: 30%;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 40px;
    background-color: white;
    height: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 2px;
  }

  .closeOverlayBtn {
    border: 1px solid black;
    border-radius: 2px;
  }

  #overlay p {
    margin-top: 50px;
    font-size: 26px;
    font-weight: 600;
    text-align: center;
  }

  .buttongroup {
    display: grid; 
    margin-top: 10%;
    height: 50%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
  }

  #cancelbutton {
    color: rgb(52, 52, 52);
    border-color: grey;
    font-weight: 550;
    font-size: 20px;
    grid-column: 1;
    grid-row: 1;
    min-width: 70%;
    height: 60%;
  }

  #sosconfirm {
    border-color: red;
    color: red;
    font-weight: 550;
    font-size: 30px;
    grid-column: 2;
    grid-row: 1;
    min-width: 70%;
    height: 60%;
  }

  #cancelbutton:hover {
    background-color: rgb(205, 205, 205); 
  }
  #sosconfirm:hover {
    background-color: rgb(254, 131, 131);
  }
  #sosconfirm:focus {
    background-color: rgb(254, 131, 131);
  }
  #sosconfirm:active {
    background-color: darkred;
  }

  .navbar {
    padding: 0%;
  }

  .navbar .container {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: 80% 20%;
    padding: 5px;
    height: 100%;
    padding-bottom: 18px;
    
    
}
.navbar .container > * {
    align-items: center;
    text-align: center;
    color: white;
    font-weight: 400;
    margin: 0 10px;
    background-color:#58918b;
    
}
.material-icons {
    font-size: 30px;
    border-radius: 24px 24px 0 0;
}
.maplabel {
    grid-row: 2;
    grid-column: 1;
    border-radius: 0 0 24px 24px;
}
.newslabel {
    grid-row: 2;
    grid-column: 2;
    border-radius: 0 0 24px 24px;

}
.socialslabel {
    grid-row: 2;
    grid-column: 3;
    border-radius: 0 0 24px 24px;
}

  
  @media screen and (max-width: 710px) {
    #overlay p {
        
        font-size: 20px;
    }
    .overlay-content {
        width: 60%;
    }
    #cancelbutton {
        font-size: 15px;
        width: 90%;
    }
    #sosconfirm {
        font-size: 20px;
        width: 90%;
    }
    .navbar-brand {
        width: 30%;
    }
    
  }

  @media screen and (max-width: 623px) {
    #map {
        height: 900px;
    }

    
    .profilecontainer {
        width: 30%;
    }
    .navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link {
        font-size: 21px;
    }
  }



  