#map-button, #news-button, #social-button {
    cursor: pointer;
}

#map {
    height: 900px;
    grid-row: 1/ span 10;
    grid-column: 1/ span 20;
}

.mapcontainer {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(10, 10%);
    grid-template-columns: repeat(20, 5%);
    position: relative;

}

.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link {
    color: #104f55; /* Dark green for brand name & nav links for visibility */
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
}

.bg-info {
    background-color: #32746D !important; /* Light green for secondary backgrounds */
}


.navbar-toggler {
    width:2%;
    height:2%;
    position: relative;
    transition: .5s ease-in-out;
}

.toggler-icon {
    display:block;
    position: absolute;
    height:3px;
    width:100%;
    background-color: black;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
    outline:none;
    box-shadow: none;
    border:0;
}

.collapsed .top-bar {
    margin-top: -20px;
    transform: rotate(0deg);
}
.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.collapsed .bottom-bar {
    margin-top: 20px;
    transform: rotate(0deg);
}


.top-bar {
    margin-top: 0px;
    transform: rotate(135deg);
}


.middle-bar {
    margin-top: 0px;
}

.middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.bottom-bar {
    margin-top:0px;
    transform: rotate(-135deg);
}

.sosbutton {
    
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: 2px solid white;
    color: white;
    overflow: hidden;
    border-radius: 6px;
    max-width: 40px;
    min-width: 40px;
    max-height: 40px;
    position: absolute;
    top: 60px; /* Adjust as needed for vertical position */
    right: 10px; /* Adjust as needed for horizontal position */
    z-index: 1000; /* Ensure the button stays on top of the map */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sosbutton img {
    margin-top: 5px;
    width: 150%;
    height: 160%;
    z-index: 101;
    max-width: 60px;
}

.centerbutton {
    cursor: pointer;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: 2px solid white;
    color: white;
    overflow: hidden;
    border-radius: 6px;
    max-width: 40px;
    min-width: 40px;
    max-height: 40px;
    position: absolute;
    bottom: 32px; 
    left: 12px; 
    z-index: 1000; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}
.centerbutton img {
    width: 100%;
    height: 100%;
    z-index: 101;
    padding: 2px;
}


#legend{
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(5, 50%);
    background: #104f55;
    
}

#breakAndEnter{
    display: flex;
    grid-column: 1/2;
    grid-row: 3/4;
    justify-content: center;
    background: #32746D;
    border: black solid 3px;
}

#mischief{
    display: flex;
    grid-column: 2/3;
    grid-row: 3/4;
    justify-content: center;
    background: #32746D;
    border: black solid 3px;
}

#assault{
    display: flex;
    grid-column: 3/4;
    grid-row: 3/4;
    justify-content: center;
    background: #32746D;
    border: black solid 3px;
}

#theft{
    display: flex;
    grid-column: 4/5;
    grid-row: 3/4;
    justify-content: center;
    background: #32746D;
    border: black solid 3px;
}

#crash{
    display: flex;
    grid-column: 5/6;
    grid-row: 3/4;
    justify-content: center;
    background: #32746D;
    border: black solid 3px;
}

#but1{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    grid-row: 2;
    justify-content: center;
    border: black solid 3px;
}

#but2{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2;
    grid-row: 2;
    justify-content: center;
    border: black solid 3px;
}

#but3{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 3;
    grid-row: 2;
    justify-content: center;
    border: black solid 3px;
}

#but4{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 4;
    grid-row: 2;
    justify-content: center;
    border: black solid 3px;
}

#but5{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 5;
    grid-row: 2;
    justify-content: center;
    border: black solid 3px;
}

.toggle {
    appearance: none;
    width: 62px;
    height: 32px;
    display: inline-block;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #707070;
    transition: background-color ease 0.3s;
  }
  
  .toggle:before {
    content: "on off";
    display: block;
    position: absolute;
    z-index: 2;
    width: 28px;
    height: 28px;
    background: #fff;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    font: 10px/28px Helvetica;
    text-transform: uppercase;
    font-weight: bold;
    text-indent: -22px;
    word-spacing: 37px;
    color: #fff;
    text-shadow: -1px -1px rgba(0,0,0,0.15);
    white-space: nowrap;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
  }
  
  .toggle:checked {
    background-color: #4CD964;
  }
  
  .toggle:checked:before {
    left: 32px;
  }



  .desc{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border: black solid 3px;
  }


  
.btn {
    background-color: #ffffff; 
    color: #007bff; 
    border: 2px solid #007bff; 
    border-radius: 5px; 
    padding: 10px 20px; 
    text-align: center; 
    font-size: 16px; 
    cursor: pointer; 
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out; 
}


.btn:hover, .btn:focus {
    color: #ffffff; 
    background-color: #007bff; 
    border-color: #0056b3; 
    text-decoration: none; 
}


.btn-group .btn {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}


.btn {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-width: 90px; 
    text-align: center;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.btn {
    margin: 0 10px 5px; 
}

.overlay {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 40%;
    height: 30%;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 40px;
    background-color: white;
    height: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 2px;
  }

  .closeOverlayBtn {
    border: 1px solid black;
    border-radius: 2px;
  }

  #overlay p {
    margin-top: 50px;
    font-size: 26px;
    font-weight: 600;
    text-align: center;
  }

  .buttongroup {
    display: grid; 
    margin-top: 10%;
    height: 50%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
  }

  #cancelbutton {
    color: rgb(52, 52, 52);
    border-color: grey;
    font-weight: 550;
    font-size: 20px;
    grid-column: 1;
    grid-row: 1;
    min-width: 70%;
    height: 60%;
  }

  #sosconfirm {
    border-color: red;
    color: red;
    font-weight: 550;
    font-size: 30px;
    grid-column: 2;
    grid-row: 1;
    min-width: 70%;
    height: 60%;
  }

  #cancelbutton:hover {
    background-color: rgb(205, 205, 205); 
  }
  #sosconfirm:hover {
    background-color: rgb(254, 131, 131);
  }
  #sosconfirm:focus {
    background-color: rgb(254, 131, 131);
  }
  #sosconfirm:active {
    background-color: darkred;
  }

  
  @media screen and (max-width: 710px) {
    #overlay p {
        
        font-size: 20px;
    }
    #cancelbutton {
        font-size: 15px;
        width: 90%;
    }
    #sosconfirm {
        font-size: 20px;
        width: 90%;
    }
    .navbar-brand {
        width: 30%;
    }
    
  }

  @media screen and (max-width: 623px) {
    #map {
        height: 855px;
    }

    
    .profilecontainer {
        width: 30%;
    }
    .navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link {
        font-size: 25px;
    }
  }



  