.content {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(60, 10%);
    
}

.searchbar {
    grid-column: 3/ span 6;
    grid-row: 2;
    background: none;
    border-radius: 10px;
}

.d-flex {
    width: 100%;
}

.d-flex > * {
    margin: 5px;
}

.btn-group {
    grid-row: 4;
    grid-column: 4/ span 4;
}

.btn-outline-dark.custom-outline {
    border-color: #32746D;
}

.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link {
    color: #104f55; /* Dark green for brand name & nav links for visibility */
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
}

.bg-info {
    background-color: #32746D !important; /* Light green for secondary backgrounds */
}

.navbar-toggler {
    width:2%;
    height:2%;
    position: relative;
    transition: .5s ease-in-out;
}

.toggler-icon {
    display:block;
    position: absolute;
    height:3px;
    width:100%;
    background-color: black;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
    outline:none;
    box-shadow: none;
    border:0;
}

.collapsed .top-bar {
    margin-top: -20px;
    transform: rotate(0deg);
}
.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.collapsed .bottom-bar {
    margin-top: 20px;
    transform: rotate(0deg);
}


.top-bar {
    margin-top: 0px;
    transform: rotate(135deg);
}


.middle-bar {
    margin-top: 0px;
}

.middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.bottom-bar {
    margin-top:0px;
    transform: rotate(-135deg);
}

#newsLine {
    grid-row: 5;
    grid-column: 2/10;
    color: black;
}

.cardcontent {
    display: flex;
    justify-content:flex-start;
    grid-column: 2/ span 8;
    grid-row: 6/ span 8;
    
}

.cardcontent > * {
    margin: 1%;
}
