.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link {
    color: #104f55; 
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
}

.bg-info {
    background-color: #32746D !important; 
}

.navbar-toggler {
    width:2%;
    height:2%;
    position: relative;
    transition: .5s ease-in-out;
}

.toggler-icon {
    display:block;
    position: absolute;
    height:3px;
    width:100%;
    background-color: black;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
    outline:none;
    box-shadow: none;
    border:0;
}

.collapsed .top-bar {
    margin-top: -20px;
    transform: rotate(0deg);
}
.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.collapsed .bottom-bar {
    margin-top: 20px;
    transform: rotate(0deg);
}


.top-bar {
    margin-top: 0px;
    transform: rotate(135deg);
}


.middle-bar {
    margin-top: 0px;
}

.middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.bottom-bar {
    margin-top:0px;
    transform: rotate(-135deg);
}

#map-button, #news-button, #social-button {
    cursor: pointer;
}

.btn {
    background-color: #ffffff;
    color: #007bff;
    border: 2px solid #007bff;
    border-radius: 5px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 90px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px;
    position: relative;
    top: -60px;
}

.btn:hover, .btn:focus {
    color: #ffffff;
    background-color: #007bff;
    border-color: #0056b3;
    text-decoration: none;
}

.btn-group .btn {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 90px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn {
    margin: 0 10px 5px;
}
.navbar .container {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: 80% 20%;
    
}
.navbar .container > * {
    align-items: center;
    text-align: center;
    color: white;
    font-weight: 400;
}
.material-icons {
    font-size: 30px;
}
.maplabel {
    grid-row: 2;
    grid-column: 1;
}
.newslabel {
    grid-row: 2;
    grid-column: 2
}
.socialslabel {
    grid-row: 2;
    grid-column: 3;
}
.active {
    color: green;
}


@media screen and (max-width: 710px) {
    .navbar-brand {
        width: 30%;
    }
    
  }

  @media screen and (max-width: 623px) {

    
    .profilecontainer {
        width: 30%;
    }
    .navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link {
        font-size: 21px;
    }
  }
