.bg-info {
    background-color: #32746D !important; /* Light green for secondary backgrounds */
}

body{
    background-color: #104f55;
}




.backg {

    grid-column: 3/9;
    grid-row: 3/9;

}


.jumbotron {
    color:black;
    grid-column: 1/7;
    grid-row: 3/7;
    margin-top: 2%;
    margin-left: 30px;
}

.text {
    opacity: 100%;
}

.button1{
    width: 100px;

}


/* General button styles */
.btn {
    background-color: #ffffff; /* White background */
    border-radius: 5px; /* Rounded corners for buttons */
    padding: 10px 20px; /* Padding inside buttons */
    text-align: center; /* Center text inside buttons */
    font-size: 16px; /* Set the font-size as per your design */
    cursor: pointer; /* Changes cursor to pointer on hover */
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out; /* Smooth transition for hover effects */
}

/* Hover and focus styles for buttons */
.btn:hover, .btn:focus {
    text-decoration: none; /* Ensures text is not underlined on hover/focus */
}

/* Ensure the button is not wrapping or overflowing */
.btn-group .btn {
    white-space: nowrap; /* Keeps text on one line */
    overflow: hidden; /* Prevents content from overflowing */
    text-overflow: ellipsis; /* Adds an ellipsis to overflowing text */
}

/* Add or adjust these styles in your news.css */
.btn {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    display: flex; /* Flex will allow for better alignment */
    justify-content: center; /* Center the text horizontally */
    align-items: center; /* Center the text vertically */
    min-width: 90px; /* Set a minimum width */
    text-align: center;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Prevent content from spilling out */
    text-overflow: ellipsis; /* Add ellipsis to overflowing content */
}

.btn {
    margin: 0 10px 5px; /* Adjust the bottom margin as needed, reduced from unspecified to 5px */
}





.button1s{
    grid-column: 1/5;
    grid-row: 11/13;
    margin-left: 30px;
    margin-top: 10px;
}

.buttonG{
    grid-column: 2/6;
    grid-row: 11/13;
    margin-left: 30px;
    margin-top: 10px;
}

.button2{
    grid-column: 2/7;
    grid-row: 9/10;
    width: 100px;
    
}

.welcomeG {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(60, 10%);
    
}



.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link {
    color: white; /* Dark green for brand name & nav links for visibility */
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
}


#backphoto{
    background: url('/images/vanbanner.jpg') center center;
    background-size: cover;
    grid-column: 1/11;
    grid-row: 1/21;
}







.navbar-toggler {
    width:2%;
    height:2%;
    position: relative;
    transition: .5s ease-in-out;
}

.toggler-icon {
    display:block;
    position: absolute;
    height:3px;
    width:100%;
    background-color: black;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
    outline:none;
    box-shadow: none;
    border:0;
}

.collapsed .top-bar {
    margin-top: -20px;
    transform: rotate(0deg);
}
.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.collapsed .bottom-bar {
    margin-top: 20px;
    transform: rotate(0deg);
}


.top-bar {
    margin-top: 0px;
    transform: rotate(135deg);
}


.middle-bar {
    margin-top: 0px;
}

.middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.bottom-bar {
    margin-top:0px;
    transform: rotate(-135deg);
}





#topTag{
    grid-row: 22;
    grid-column: 2/10;
    color: black;
}

#maptxt{
    grid-column: 3/5;
    grid-row: 23/25;
    text-align: center;
    color: black;
}
.Map{
    background: url('/images/eu_van_1.jpg') center center;
    background-size: cover;
    grid-column: 2/6;
    grid-row: 25/37;
    margin-left: 5%;
    transition: 0.5s ease-in-out;
}

.News{
    background: url('/images/news.jpg') center center;
    background-size: cover;
    grid-column: 6/10;
    grid-row: 25/37;
    margin-right: 5%;
    margin-left: 5%;
    transition: 0.5s ease-in-out;
}

.Newstxt{
    grid-column: 7/9;
    grid-row: 23/25;
    text-align: center;
    color: black;
}

#bottomhr{
    grid-column: 2/10;
    grid-row: 40;
    color: black;
}

.News:hover{
    transform: scale(0.95);
}

.Map:hover{
    transform: scale(0.95);
}

#socialtitle {
    font-size: 30px;
    font-weight: 650;
    color: white;
    border: none;
    background: none;
}

.card {
    background-color: #32746D;
}

#addUser {
    align-items: center;
    margin: 35%;
    margin-top: 5%;
    min-width: 30%;
    max-width: 20%;
}
#plus {
    margin-left: 5px;
}


.overlay {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #32746D;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 60%;
    height: 60%;
    overflow: scroll;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 40px;
    background-color: white;
    height: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 2px;
  }

  .closeOverlayBtn {
    border: 1px solid black;
    border-radius: 2px;
  }
  
  #searchResults {
    margin: 10px;
    padding: 5px;  
    height: 150%;
    background-color: rgba(107, 192, 169, 0.411);
  }

  #searchInput {
    margin-left: 5px;
    border: solid 1px black;
    border-radius: 3px;
  }

  #map-button, #news-button, #social-button {
    cursor: pointer;
}

#searchResults p {
    background-color: white;
    border-radius: 5px;
    margin: 3%;
    padding: 3%;
    cursor: pointer;
}

.list-group {
    list-style-type: none;
    padding: 10px;
    align-items: center;

}
.list-group li {
    float: left;
    margin: 5px;
    background-color: white;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    padding-left: 10px;
    display:grid;
    grid-template-columns: 50% 20% 30%;
}

.locbutton {
    grid-column: 3;
    margin: 8px;
    border-radius: 8px;
    border: 1px solid black;
    text-align: center;
    background-color:rgb(107, 192, 169);
    transition: background-color .4s ease;
    cursor: pointer;
}
.locbutton:hover {
    background-color:rgb(30, 153, 120)
}
.locbutton:active {
    background-color:aqua;
}

.hide {
    display: none;
}

.sosnoti {
    margin: 8px;
    border-radius: 8px;
    border: 3px solid red;
    text-align: center;
    color: red;
    font-weight: 700;
    animation: flash 1s infinite;
}

.navbar {
    padding: 0%;
  }

  .navbar .container {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: 80% 20%;
    padding: 5px;
    height: 100%;
    padding-bottom: 18px;
    
    
}
.navbar .container > * {
    align-items: center;
    text-align: center;
    color: white;
    font-weight: 400;
    margin: 0 10px;
    background-color:#58918b;
    
}
.material-icons {
    font-size: 30px;
    border-radius: 24px 24px 0 0;
}
.maplabel {
    grid-row: 2;
    grid-column: 1;
    border-radius: 0 0 24px 24px;
}
.newslabel {
    grid-row: 2;
    grid-column: 2;
    border-radius: 0 0 24px 24px;

}
.socialslabel {
    grid-row: 2;
    grid-column: 3;
    border-radius: 0 0 24px 24px;
}

@keyframes flash {
    0% { background-color: rgba(255, 0, 0, 0.728); }
    80% { background-color: white; }
    100% { background-color: rgba(255, 0, 0, 0.728); }
}

@media screen and (max-width: 500px) {
    .locbutton {
        font-size: 13px;
        min-width: 80px;
    }
}

@media screen and (max-width: 710px) {
    .navbar-brand {
        width: 30%;
    }
    
  }

  @media screen and (max-width: 623px) {

    
    .profilecontainer {
        width: 30%;
    }
    .navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link {
        font-size: 21px;
    }
  }