.bg-info {
    background-color: #32746D !important; /* Light green for secondary backgrounds */
}

body{
    background-color: #104f55;
}




.backg {

    grid-column: 3/9;
    grid-row: 3/9;

}


.jumbotron {
    color:black;
    grid-column: 1/7;
    grid-row: 4/8;
    margin-top: 2%;
    margin-left: 30px;
}

.text {
    opacity: 100%;
}

.button1{
    width: 100px;

}





.button1s{
    grid-column: 1/5;
    grid-row: 8/10;
    margin-left: 30px;
    margin-top: 10px;
}

.buttonG{
    grid-column: 2/6;
    grid-row: 8/10;
    margin-left: 30px;
    margin-top: 10px;
}

.button2{
    grid-column: 2/7;
    grid-row: 9/10;
    width: 100px;
    
}

.welcomeG {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
    
}

.figure {
    grid-column: 6/10;
    grid-row: 3/9;
}





.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link {
    color: #104f55; /* Dark green for brand name & nav links for visibility */
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
}


